body {
    background-color: rgb(11,101,55);
    color: red;
    opacity: 0.5;
}


/* Atribuição por nome da cor(em ingles)*/
/* Atribuição por valor hexadecimal */
/* RGB rgb(0,0,255) */
/* RGBA */

rgba()

(0,0,255)