@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
}

span{
    color: rgb(90, 90, 240);
}

section{
    background-color: rgb(91, 91, 255);
    color: white;
    padding: 2px 8px;
    
}

.primeiro-paragrafo{
    margin-bottom: 50px;
}

li{
    text-decoration: underline;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 8px;
}

footer p{
    margin: 0;
}