body{
    font-family: 'inter', sans-serif;
}

.title-1{
    font-size: 42px;
    color: #3745bd;
    font-weight: 600;
}

.paragraph-1{
    font-size: 20px;
    line-height: 28px;
}
header{
    width: 429px;
}